html, body {
	font-family: Arial, franklin-gothic;
	margin:0px;
	padding:0px;
	border: 0px;
}
div{
	background-color: #d9dfe5;
}
header{
	background-color: antiquewhite;
	border-radius: 10px;
	background-image: url('../img/banner.png');
	padding: 40px;
	text-align: center;
	box-shadow: 0 2px 4px;
	background-size: 5000px 900px;
	margin: 0 auto;
}
.content{
	text-align: center;
}