html, body {
	font-family: Arial, franklin-gothic;
	margin:0px;
	padding:0px;
	border: 0px;
}
div{
	background-color: #d9dfe5;
}
header{
	background-color: antiquewhite;
	border-radius: 10px;
	background-image: url('../img/banner.png');
	padding: 40px;
	text-align: center;
	box-shadow: 0 2px 4px;
	background-size: 5000px 900px;
	margin: 0 auto;
}
h2{
	margin: 0 auto;
	padding: 0;
	display: inline-block;
	max-width: 75%;
	display: inline-block;
	text-align: center;
}
h1{
	font-size: 90px;
	color: #d9dfe5;
	text-shadow: 10px 4px 20px black;
	margin: 0;
	text-transform: uppercase;
}
iframe{
	max-width: 100%;
	margin:0 auto;
	padding: 0;
	max-height: 35%;
	display: block;
	box-shadow: 0 2px 4px;
	border-radius: 5px
}
header img{
	border-radius: 600px;
	box-shadow: 10px 10px 20px
}
.content{
	max-width: 73%;
	margin: 0 auto;
	background-color: #d9dfe5;
	padding: 0;
	list-style: none;
	text-align: center;
}
.computerimage{
	border-radius: 10px;
	max-width: 750px;
	margin: 2 auto;
}
p.caption{
	font-size: 16px;
	color: black;
	font-style: italic;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: purple;
	display: inline-block;
	margin: 0 7px;
	text-align: center;
}
footer{
	max-width: 74%;
	margin-top:0;
	padding:0;
	margin:auto;
	background-color: #d9dfe5;
}
footer ul li p.Mackaex{
	color: Darkred;
	text-align: center;
	display: inline-block;
}
footer ul{
	text-align: center;
}
footer ul li {
max-width: 75%;
	display: inline-block;
	margin: 0 7px;
}