html, body {
	font-family: Arial, Sans-serif;
	margin:0px;
	padding:0px;
	border: 0px;
}
div{
	background-color: #ffccb3;
}
header{
	background-color: antiquewhite;
	background-image: url('../img/banner.png');
	/*border-radius: 10px;*/
	padding: 40px;
	text-align: center;
	box-shadow: o 2px 4px;
	background-size: 5004px 826px;
}
h1{
	font-size: 90px;
	color: #330033;
	text-shadow: 10px 4px 20px black;
	margin: 0;
	text-transform: uppercase;
}
header img{
	border-radius: 600px;
	box-shadow: 10px 10px 20px
}
.content{
	max-width: 74%;
	margin: 0 auto;
	background-color: #ffccb3;
	padding: 0;
	list-style: none;
}
.computerimage{
	border-radius: 10px;
	max-width: 750px;
	margin: 2 auto;
}
p.caption{
	font-size: 16px;
	color: black;
	font-style: italic;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: #33cc00
}
footer{
	max-width: 74%;
	margin-top:0;
	padding:0;
	margin:auto;
	background-color: #ffccb3;
}
footer ul li p.Mackaex{
	color: Darkred;
	text-align: center;
	display: inline-block;
}
footer ul{
	text-align: center;
}
footer ul li {
max-width: 75%;
	display: inline-block;
	margin: 0 7px;
}